In [3]:
import ibis
import pandas as pd

## Default Row Limits
It is possible to turn on interactive mode, which automatically executs ibis expressions. By default, ibis limits result sets returned to the local process to 10,000 rows. If you know you require >10000 rows returned, be careful to change the default limit.

## Interactive Mode
Ibis also allows and interactive mode that automatically executes all expressions. This can be useful in a notebook or repl. I personally prefer to epxlicitly execute expresssions, but this is a personal preference.  If you use the interactive mode, I recommnd setting the defaultlimit low to prevent accidentally trying to return an unreasonable number of rows to your local process.

In [4]:
ibis.options.sql.default_limit = None

hdfs_conn = ibis.hdfs_connect(host='bottou03.sjc.cloudera.com')

ibis_conn = ibis.impala.connect(host='bottou01.sjc.cloudera.com',
                                    port=21050,
                                    hdfs_client=hdfs_conn)

In [5]:
pageviews_tbl = ibis_conn.table('wiki_pageviews', database='u_juliet')

What is in a project name? What does this data look like?

In [6]:
project_names_expr = pageviews_tbl.project_name.distinct()
project_names = ibis_conn.execute(project_names_expr)
project_names

0          iu.m.d
1       he.zero.q
2          br.m.q
3          co.m.d
4          zero.f
5          ru.m.b
6             ltg
7       bh.zero.d
8          lv.m.b
9              am
10         vi.m.d
11           ay.d
12           tk.d
13           cr.q
14           is.d
15      iu.zero.d
16           uk.s
17        dv.zero
18        en.zero
19      tl.zero.d
20           kl.d
21           ln.b
22           wa.b
23           da.q
24         sv.m.n
25           la.s
26           sk.s
27             tt
28           ko.q
29             es
          ...
2367           an
2368           pi
2369       fo.m.s
2370      ha.zero
2371       uz.m.b
2372    kn.zero.s
2373    es.zero.v
2374        sco.m
2375         ks.m
2376       pt.m.q
2377         cy.m
2378       az.m.b
2379       Amanhã
2380          21º
2381          pnb
2382        wg-en
2383         pt.b
2384           be
2385    vi.zero.q
2386       qu.m.q
2387         wo.q
2388         ar.d
2389       uk.m.b
2390    wa.zero.d
2391         qu.q
2392     meta.m.m
2393         cy.q
2394         rw.d
2395         bi.d
2396      ang.m.b
Name: project_name, dtype: object

Maybe we can understand this by finding the projects with the most pages. Let's group by porject name and then count the size of the groups.

In [7]:
project_page_counts = pageviews_tbl.group_by(pageviews_tbl.project_name)\
                                   .size()\
                                   .sort_by(('count', False))
project_names = ibis_conn.execute(project_page_counts)

To find something interesting, it'll help to understand the language.

In [8]:
[name for name in project_names if 'en' in name]

[]

The part of the project name after the '.' specifies a special type of wiki. Let's just look at the standard wiki pages (ie, not media-wiki) that are also written in English.

In [9]:
ibis_conn.execute(pageviews_tbl[pageviews_tbl.project_name == 'en'].limit(10))

,project_name,page_name,n_views,n_bytes,day,hour,month,year
0,en,!!!,3,0,01,07,01,2016
1,en,!Bastardos_en_Vivo!,1,0,01,07,01,2016
2,en,!Kung_language,1,0,01,07,01,2016
3,en,!Oka_Tokat,1,0,01,07,01,2016
4,en,!T.O.O.H.!,1,0,01,07,01,2016
5,en,"""@""_(album)",1,0,01,07,01,2016
6,en,"""C""_Is_for_(Please_Insert_Sophomoric_Genitalia...",1,0,01,07,01,2016
7,en,"""Crocodile""_Dundee",6,0,01,07,01,2016
8,en,"""Crocodile""_Dundee_II",1,0,01,07,01,2016
9,en,"""Dr._Death""_Steve_Williams",6,0,01,07,01,2016

Project_name is homogenous in this dataset, so lets just take the projection of all other columns.

In [10]:
en_pageviews = pageviews_tbl[pageviews_tbl.project_name == 'en'].projection(['page_name',
                                                                              'n_views',
                                                                             'n_bytes',
                                                                             'day',
                                                                             'hour',
                                                                             'month',
                                                                             'year'])

In [11]:
ibis_conn.execute(en_pageviews.limit(10))

                      page_name  n_views  n_bytes day hour month  year
0                             !        1        0  01   05    01  2016
1                           !!!        2        0  01   05    01  2016
2                !!!Fuck_You!!!        1        0  01   05    01  2016
3  !!!Fuck_You!!!_And_Then_Some        1        0  01   05    01  2016
4                 !Action_Pact!        1        0  01   05    01  2016
5              !Kung_San_people        1        0  01   05    01  2016
6                  !Kung_people        2        0  01   05    01  2016
7                    !T.O.O.H.!        1        0  01   05    01  2016
8                       !WOWOW!        1        0  01   05    01  2016
9   "...And_Ladies_of_the_Club"        1        0  01   05    01  2016

It seems that we should exclude these pages with no names, and NaN counts. (With big data sets, you will find all
types of messed up data.)

In [12]:
top_10_pg_views_hourly = en_pageviews.sort_by((en_pageviews.n_views, False)).limit(10)
ibis_conn.execute(top_10_pg_views_hourly)

              page_name    n_views  n_bytes day hour month  year
0                              NaN      NaN  31   01    12  2015
1  http://example.com/?        NaN      NaN  31   01    12  2015
2                              NaN      NaN  31   01    12  2015
3                              NaN      NaN  31   01    12  2015
4                              NaN      NaN  31   01    12  2015
5       Special:Export/  1936066.0      0.0  31   08    12  2015
6       Special:Export/  1121921.0      0.0  31   09    12  2015
7             Main_Page   724796.0      0.0  02   09    01  2016
8             Main_Page   707561.0      0.0  02   07    01  2016
9             Main_Page   655542.0      0.0  02   08    01  2016

In [13]:
null_pg_views = en_pageviews[en_pageviews.n_views.isnull()]

In [14]:
ibis_conn.execute(null_pg_views)

              page_name  n_views  n_bytes day hour month  year
0                            NaN      NaN  31   01    12  2015
1                            NaN      NaN  31   01    12  2015
2                            NaN      NaN  31   01    12  2015
3                            NaN      NaN  31   01    12  2015
4  http://example.com/?      NaN      NaN  31   01    12  2015

In [15]:
nn_pg_views = en_pageviews[en_pageviews.n_views.notnull()]

What are the top ten page in this series that

In [16]:
ibis_conn.execute(nn_pg_views.sort_by((nn_pg_views.n_views, False)).limit(10))

         page_name  n_views  n_bytes day hour month  year
0  Special:Export/  1936066        0  31   08    12  2015
1  Special:Export/  1121921        0  31   09    12  2015
2        Main_Page   724796        0  02   09    01  2016
3        Main_Page   707561        0  02   07    01  2016
4        Main_Page   655542        0  02   08    01  2016
5        Main_Page   650881        0  03   07    01  2016
6        Main_Page   649290        0  03   08    01  2016
7        Main_Page   647347        0  02   06    01  2016
8        Main_Page   645168        0  30   09    12  2015
9        Main_Page   641259        0  30   08    12  2015

hangover, brands of champagne, mew years traditions, time differences, international datetime,

In [17]:
champagne_df = ibis_conn.execute(nn_pg_views[nn_pg_views.page_name.lower() == 'champagne'])

In [18]:
champagne_df.sort(['day', 'hour'])

/Users/juliet/.virtualenvs/pyhadoop/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

     page_name  n_views  n_bytes day hour month  year
18   Champagne      223        0  01   00    01  2016
25   Champagne      176        0  01   01    01  2016
41   Champagne      186        0  01   02    01  2016
17   Champagne      162        0  01   03    01  2016
3    Champagne      147        0  01   04    01  2016
24   Champagne      150        0  01   05    01  2016
2    Champagne      226        0  01   06    01  2016
20   Champagne      210        0  01   07    01  2016
6    Champagne      113        0  01   08    01  2016
29   Champagne      117        0  01   09    01  2016
50   Champagne       89        0  01   10    01  2016
36   Champagne       63        0  01   11    01  2016
77   Champagne       73        0  01   12    01  2016
67   Champagne       67        0  01   13    01  2016
98   Champagne       79        0  01   14    01  2016
79   Champagne       91        0  01   15    01  2016
102  Champagne       92        0  01   16    01  2016
95   Champagne       91        0  01   17    01  2016
108  Champagne      120        0  01   18    01  2016
118  Champagne      107        0  01   19    01  2016
111  Champagne       90        0  01   20    01  2016
104  Champagne       96        0  01   21    01  2016
62   Champagne      102        0  01   22    01  2016
82   Champagne       95        0  01   23    01  2016
47   Champagne       80        0  02   00    01  2016
34   Champagne       75        0  02   01    01  2016
32   Champagne       86        0  02   02    01  2016
31   Champagne       67        0  02   03    01  2016
1    Champagne      103        0  02   04    01  2016
0    Champagne       64        0  02   05    01  2016
..         ...      ...      ...  ..  ...   ...   ...
101  Champagne       93        0  30   18    12  2015
107  Champagne      113        0  30   19    12  2015
91   Champagne      104        0  30   20    12  2015
85   Champagne       88        0  30   21    12  2015
83   Champagne      103        0  30   22    12  2015
76   Champagne      125        0  30   23    12  2015
66   Champagne       95        0  31   00    12  2015
19   Champagne       86        0  31   01    12  2015
10   Champagne       80        0  31   02    12  2015
4    Champagne       81        0  31   03    12  2015
7    Champagne       76        0  31   04    12  2015
11   Champagne       90        0  31   05    12  2015
9    Champagne       75        0  31   06    12  2015
22   Champagne       69        0  31   07    12  2015
14   Champagne       67        0  31   08    12  2015
42   Champagne       68        0  31   09    12  2015
54   Champagne       86        0  31   10    12  2015
56   Champagne       72        0  31   11    12  2015
57   Champagne       80        0  31   12    12  2015
65   Champagne       76        0  31   13    12  2015
64   Champagne      123        0  31   14    12  2015
73   Champagne      164        0  31   15    12  2015
99   Champagne      158        0  31   16    12  2015
71   Champagne      208        0  31   17    12  2015
48   Champagne      182        0  31   18    12  2015
80   Champagne      209        0  31   19    12  2015
72   Champagne      214        0  31   20    12  2015
33   Champagne      190        0  31   21    12  2015
44   Champagne      203        0  31   22    12  2015
27   Champagne      201        0  31   23    12  2015

[120 rows x 7 columns]

In [30]:
champagne_df['time'] = pd.to_datetime(champagne_df[['year', 'month', 'day', 'hour']])

In [ ]:
champagne_df[['n_views', 'time']].plot()

In [28]:
w_daily_views = nn_pg_views.group_by(['page_name', 'month', 'day']).aggregate(daily_views=nn_pg_views.n_views.sum())

ibis_conn.execute(w_daily_views.sort_by((w_daily_views.daily_views, False)).limit(10))

                                       page_name month day  daily_views
0                                      Main_Page    01  02     10189772
1                                      Main_Page    12  30     10113400
2                                      Main_Page    01  03     10005506
3                                      Main_Page    12  31      9772903
4                                      Main_Page    01  01      9011875
5                                Special:Export/    12  31      3630690
6  List_of_stock_market_crashes_and_bear_markets    01  01      1881837
7  List_of_stock_market_crashes_and_bear_markets    01  02      1797907
8  List_of_stock_market_crashes_and_bear_markets    01  03      1751699
9                                 Special:Search    12  30      1390842

In [29]:
tot_view = nn_pg_views.group_by('page_name').aggregate(all_views=nn_pg_views.n_views.sum())
ibis_conn.execute(tot_view.sort_by((tot_view.all_views, False)).limit(30))

                                        page_name  all_views
0                                       Main_Page   49093456
1                                  Special:Search    6747343
2   List_of_stock_market_crashes_and_bear_markets    5529739
3                                 Special:Export/    3631060
4                                    Special:Book    1831484
5                                    Web_scraping     859476
6                                               -     753519
7                    Star_Wars:_The_Force_Awakens     722752
8                     Java_(programming_language)     591223
9                                      Pincushion     411923
10               María_Santos_Gorrostieta_Salazar     402357
11                      Lady_Mary_Wortley_Montagu     396765
12           User:GoogleAnalitycsRoman/google-api     392352
13                                      Star_Wars     377729
14                                   Natalie_Cole     351882
15                              Special:Watchlist     341433
16                                       Yo-Yo_Ma     317829
17                                    Verkhoyansk     278554
18                                      Backslash     278197
19                                          Lemmy     274646
20                           Sherlock_(TV_series)     231557
21                                   Daisy_Ridley     229193
22          Washington_State_Department_of_Health     227475
23                                 Deaths_in_2015     221501
24                                    Bobby_Leach     216525
25                                    Ethan_Couch     216297
26                                   Steven_Avery     200729
27                 List_of_highest-grossing_films     196301
28                                        UFC_195     193408
29                       The_Revenant_(2015_film)     189553